@import "../../styles/variables.scss";

.filtersSection {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
  height: 60px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $gray;
}
.selectBox {
  height: 35px;
  font-size: 1.1rem;
  color: white;
  margin: 0 10px 0 10px;
  border: none;
  background-color: $gray;
  border-bottom: 1px solid white;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  font-family: -apple-system, Oswald, BlinkMacSystemFont, Segoe UI, sans-serif;
}