@import "../styles/variables.scss";

.fixturesPage {
  display: grid;
  grid-template-columns: (2.5fr 1fr);
  gap: 25px;
  padding: 10px;
}
.header {
  margin: 0;
  border-bottom: 1px solid $gray;
  min-width: 520px;
  padding-bottom: 18px;
}
.allFixturesContainer {
  display: grid;
  gap: 20px;
  align-content: start;
}
.competitionContainer {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  color: white;
  padding: 0 8px 8px 8px;
  border-radius: 5px;
}
.competitionName {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.7rem;
  font-weight: 500;
  border-bottom: 1px solid $green;
  height: 70px;
}
.competitionName .logoBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.competitionName .area {
  font-size: 1.2rem;
  font-weight: 400;
}
.match {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
.teamVSteam {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}
.homeSide, .awaySide {
  font-size: 1.2rem;
}