@import "../styles/variables.scss";

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0 15px 0 15px;
  scroll-padding: 75px;
}
.filtersSection {
  width: 100%;
  height: 60px;
  grid-column: 1 / -1;
  // margin-top: -10px;
  background-color: $darkGray;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}
.inputBox, .dateBox {
  height: 35px;
  width: 200px;
  font-size: 1.1rem;
  color: white;
  margin: 0 10px 0 10px;
  border: none;
  background-color: $darkGray;
  border-bottom: 1px solid green;
  &::placeholder {
    color: white;
  }
  font-family: -apple-system, Oswald, BlinkMacSystemFont, Segoe UI, sans-serif;
}
.dateBox {
  // Changes the calendar icon from black to white.
  color-scheme: dark;
}
.matchCard {
  width: 100%;
  scroll-snap-align: start;
}
.matchName {
  color: white;
  width: 100%;
  height: 15%;
  min-height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -7px;
  padding-right: 15px;
  font-weight: 500;
  background-color: $gray;
  z-index: 1;
  border-radius: 5px 5px 0 0;
}
.date {
  font-size: 0.9em;
  padding-left: 15px;
}
.title {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}
.side {
  &:hover {
    text-decoration: underline;
    text-decoration-color: $green;
    cursor: pointer;
  }
}
.image {
  overflow: hidden;
  border-radius: 5px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
.paginationContainer {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  grid-column: 1 / -1;
}
.paginationButton {
  width: 150px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: $gray;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width: 765px) {
  .main {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1300px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}